* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red; */
}

:root {
  --BG-COLOR: #1e2129;
  --PRIMARY-COLOR: #9be4af;
  --WHITE-ACCENT: #f5f5f5;
  --GRAY-SHADE: #5f6881;
  --BLACK-COLOR: #000000;
}

a:any-link {
  text-decoration: none;
}
button {
  cursor: pointer;
}

body {
  background-color: var(--BG-COLOR);
  color: var(--WHITE-ACCENT);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.header {
  background-image: url("./assets/images/other/header-background.jpg");
  background-size: cover;
  background-position: center;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.header .header-menu {
  width: 30px;
  fill: var(--PRIMARY-COLOR);
}
.header img {
  width: 70px;
  height: auto;
}
.header .larger-screen-header {
  display: none;
}

.header .header-search {
  display: none;
  width: 30vw;
  padding: 9px 10px;
  border: 2px solid var(--PRIMARY-COLOR);
  border-radius: 25px;
  text-align: left;
  outline: none;
}
.header .larger-screen-header ul {
  display: flex;
  list-style-type: none;
  column-gap: 1.5rem;
}
.header .larger-screen-header ul li .link {
  color: var(--WHITE-ACCENT);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
}
.header .larger-screen-header ul li .active {
  color: var(--PRIMARY-COLOR);
  text-decoration: none;
}
.header .larger-screen-header ul li:hover,
.header .larger-screen-header ul li .link:hover {
  color: var(--PRIMARY-COLOR);
}

.active-aside {
  display: flex;
  flex-direction: column;
  background-color: var(--BLACK-COLOR);
  width: 70%;
  height: 99svh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}
.remove-aside {
  display: none;
}
.shared-layout aside .svg-search {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}
.shared-layout aside .svg-search svg {
  width: 30px;
  aspect-ratio: 1/1;
  fill: var(--PRIMARY-COLOR);
  margin-left: 10px;
}
.shared-layout aside .svg-search input {
  width: 180px;
  padding: 0 10px;
  border: 2px solid var(--PRIMARY-COLOR);
  border-radius: 25px;
  outline: none;
  margin-right: 10px;
}
.shared-layout aside .side-navbar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 25px;
  margin-top: 2rem;
}
.shared-layout aside .side-navbar ul li {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.shared-layout aside .side-navbar button {
  background-color: var(--BG-COLOR);
  border: none;
  outline: none;
  color: var(--WHITE-ACCENT);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  width: 60vw;
  max-width: 335px;
  border-radius: 24px;
  padding: 10px 3px;
  column-gap: 2rem;
  font-size: 1rem;
}
.shared-layout aside .side-navbar button svg {
  width: 34px;
  aspect-ratio: 1/1;
  fill: var(--PRIMARY-COLOR);
  margin-left: 2rem;
}

.social-side ul {
  display: flex;
  justify-content: space-evenly;
  text-decoration: none;
  margin-top: 5rem;
}
.social-side ul li {
  display: flex;
  text-decoration: none;
}
.social-side ul li svg {
  width: 30px;
  fill: var(--PRIMARY-COLOR);
}

.home-landing .top {
  background-image: url("./assets/images/other/header-background.jpg");
  background-size: cover;
  background-position: center;
  margin-top: 2rem;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}
.home-landing .top img {
  width: 150px;
  margin-top: 1.5rem;
}
.home-landing .top .input-btn {
  padding: 10px;
  display: flex;
  margin-top: 1rem;
  cursor: pointer;
}
.home-landing .top .input-btn input {
  width: 74vw;
  max-width: 530px;
  padding: 10px 15px;
  color: var(--BLACK-COLOR);
  border: none;
  outline: none;
  border-radius: 10px 0 0 10px;
}
.home-landing .top .input-btn input::placeholder {
  color: var(--BLACK-COLOR);
}
.home-landing .top .svg-container {
  background-color: var(--PRIMARY-COLOR);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 0 10px 10px 0;
}
.home-landing .top .input-btn svg {
  width: 20px;
  aspect-ratio: 1/1;
  fill: var(--BLACK-COLOR);
}
.home-landing .top button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  background-color: var(--PRIMARY-COLOR);
  margin: 3rem 0;
  border: none;
  outline: none;
  width: 84vw;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;

  box-shadow: 0px 0px 7px 0px var(--BLACK-COLOR);
}
.home-landing .top button h1 {
  color: var(--BLACK-COLOR);
  font-size: 1.1rem;
}
.home-landing .top button svg {
  width: 25px;
  aspect-ratio: 1/1;
  fill: var(--BLACK-COLOR);
}

.top-movie-page {
  display: flex;
  flex-direction: column;
}
.top-movie-card {
  position: relative;
  display: flex;
  column-gap: 1rem;
  align-items: flex-end;
  background-repeat: no-repeat;
  /* background-position: bo; */
  background-size: cover;
  height: 400px;
  width: 100vw;
  padding: 0 0 2rem 1rem;
  isolation: isolate;
}
.top-movie-inner {
  position: relative;
  display: flex;
  column-gap: 1rem;
  align-items: flex-end;
}
/* .top-movie-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140px;

  background: #000209 0% 0% no-repeat padding-box;
  opacity: 1;
  filter: blur(31px);
  z-index: -1;
} */
.top-movie-card::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000209c2 0% 0% no-repeat padding-box;
  filter: blur(31px);
  z-index: -1;
}

.top-movie-card .small-image {
  width: 350px;
  aspect-ratio: 233/345;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 9px 0px var(--BLACK-COLOR);
}
.top-movie-card .small-image:hover {
  transform: scale(1.1);
}
.top-movie-card .movie-info {
  display: flex;
  flex-direction: column;
  row-gap: 1.3rem;
  margin-bottom: 6px;
}
.top-movie-card .play-title {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.top-movie-card .play-title svg {
  fill: var(--PRIMARY-COLOR);
}
.top-movie-card .play-title .play-btn {
  width: 50px;
}

.top-movie-card .title-rating {
  display: flex;
  flex-direction: column;
}
.top-movie-card .title-rating .rating {
  display: flex;
  column-gap: 5px;
}
.top-movie-card .play-title .rating svg {
  width: 20px;
}
.top-movie-card .title-rating h1 {
  font-size: 1.2rem;
}
.top-movie-card .title-rating h2 {
  font-size: 1rem;
}

.top-movie-card .movie-description {
  font-size: 12px;
}
/* -----------THE WHOLE CONTAINER----------------- */
.carousel-container,
.react-multi-carousel-list {
  width: 100%;
}

/* --------------SINGLE ITEMS------------- */
/* .react-multi-carousel-item,
.carousel-item {
} */

.carousel-button-group button {
  background: transparent;
  border: none;
  /* outline: 1px solid red; */
  /* padding: 1rem; */
}
.carousel-button-group svg {
  width: 40px;
  aspect-ratio: 1/1;
  fill: var(--PRIMARY-COLOR);
  background-color: var(--BG-COLOR);
  border-radius: 50%;
  border-color: var(--PRIMARY-COLOR);
  margin-left: 10px;
}
.carousel-item {
  display: flex;
  justify-content: center;
}
.dot-list {
  margin-top: 4rem;
}
.react-multiple-carousel__arrow--right,
.react-multiple-carousel__arrow--left {
  display: none;
}

.nextArrow {
  position: absolute;
  top: 30%;
  left: 80%;
}
.preArrow {
  position: absolute;
  top: 30%;
  left: 10%;
}

.trend-movie > h1 {
  text-align: center;
  color: var(--PRIMARY-COLOR);
  margin-top: 10px;
}

.trend-section {
  padding: 1rem 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 1rem;
  column-gap: 1rem;
  justify-content: center;
}
.trend-section .trend-card {
  display: flex;
  column-gap: 1rem;
  justify-content: center;
}

.trend-card img {
  width: 90px;
  border-radius: 10px;
}
.trend-card .card-info {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}
.trend-card .card-info .svg-hd {
  display: flex;
  column-gap: 10px;
  margin-bottom: 1rem;
}
.trend-card .card-info .svg-hd svg {
  width: 20px;
  fill: var(--PRIMARY-COLOR);
}
.trend-card .card-info .rating-hd {
  display: flex;
  column-gap: 10px;
}
.trend-card .card-info .hd-rating p {
  font-size: 9px;
  font-weight: 600;
}

.trend-card .card-info h1 {
  font-size: 12px;
  /* align-self: center; */
}
.trend-card .card-info button {
  background-color: var(--GRAY-SHADE);
  height: 29px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  margin-top: 12px;
}
.trend-card .card-info button svg {
  width: 10px;
  fill: var(--WHITE-ACCENT);
}
.trend-card .card-info button h2 {
  font-size: 9px;
  color: var(--PRIMARY-COLOR);
}
.movie-filter-outer {
  display: flex;
  justify-content: center;
}

.movie-filter-inner {
  position: relative;
  height: 50px;
  width: 90%;
  display: flex;
  background-color: var(--GRAY-SHADE);
  border: 3px solid var(--PRIMARY-COLOR);
  padding: 4px;
  border-radius: 39px;
  margin-top: 1rem;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3rem;
  cursor: pointer;
}
.filter-tags {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 10px;
}
.disable-filter {
  display: none;
}
.movie-filter-inner .by-year,
.movie-filter-inner .by-genre {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.movie-filter-inner p {
  font-size: 12px;
}
.movie-filter-inner p:hover {
  color: var(--PRIMARY-COLOR);
}
.movie-filter-inner svg {
  fill: var(--WHITE-ACCENT);
  width: 15px;
}
.mobile-search {
  background-color: var(--WHITE-ACCENT);
  border-radius: 9px;
  width: 70px;
  display: flex;
  justify-content: center;
}
.mobile-search input {
  width: 50px;
  padding: 3px 0;
  border: none;
  outline: none;
  border-radius: 9px;
  padding-left: 20px;
  font-size: 1rem;
}
.mobile-search svg {
  fill: var(--BLACK-COLOR);
}
.active-search {
  width: 90%;
  height: 30px;
}
.active-search input {
  width: 80%;
  height: 30px;
}
.movie-filter-inner .active-filter {
  color: var(--PRIMARY-COLOR);
  font-weight: 700;
}
.year-btn,
.genre-btn {
  position: absolute;
  top: 60px;
  left: 0;
  display: none;
}
.active-filter .year-btn,
.active-filter .genre-btn {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px 12px;
}
.year-btn button,
.genre-btn button {
  padding: 10px;
  border-radius: 7px;
  background-color: var(--PRIMARY-COLOR);
  border: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.movie-filter-inner .close {
  background-color: rgb(249, 249, 249);
}
.main-movie {
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-evenly;
}
.movie-section {
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 10px;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
  justify-content: center;
}
.movie-section .main-movie-card {
  display: flex;
  flex-direction: column;
  column-gap: 5rem;
  justify-content: center;
}

.main-movie-card .thumbnail {
  width: 95%;
  aspect-ratio: 233/345;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}
.main-movie-card .card-info {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
}
.main-movie-card .card-info h1 {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 5px;
}
.main-movie-card .card-info .svg-hd {
  display: flex;
  column-gap: 5px;
  margin: 5px 0;
  align-items: flex-end;
  margin-left: 5px;
}
.main-movie-card .card-info .svg-hd svg {
  width: 20px;
  fill: var(--PRIMARY-COLOR);
}
.main-movie-card .card-info .hd-rating {
  display: flex;
  column-gap: 10px;
}
.main-movie-card .card-info .hd-rating p {
  font-size: 15px;
  font-weight: 600;
}

.main-movie-card .card-info button {
  background-color: var(--GRAY-SHADE);
  align-self: center;
  width: 80%;
  max-width: 180px;
  height: 29px;
  padding: 5px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4px;
  margin-top: 12px;
}
.main-movie-card .card-info button svg {
  width: 10px;
  fill: var(--WHITE-ACCENT);
}
.main-movie-card .card-info button h2 {
  font-size: 12px;
  color: var(--PRIMARY-COLOR);
}
.current-movie {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-top: 2rem;
  margin-bottom: 10rem;
}
.current-movie iframe {
  width: 100%;
  aspect-ratio: 16/9;
  align-self: center;
}
.current-movie .movie-info {
  margin-left: 5%;
  margin-bottom: 1.5rem;
}
.current-movie .movie-info h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.current-movie .movie-info .rating-year-genre {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.current-movie .movie-info .rating-year-genre .rating {
  display: flex;
  column-gap: 5px;
}
.current-movie .movie-info .rating-year-genre .rating p,
.current-movie .movie-info .rating-year-genre .year {
  font-size: 18px;
  font-weight: 700;
}
.current-movie .movie-info .rating-year-genre .rating svg {
  fill: var(--PRIMARY-COLOR);
  width: 20px;
}

.current-movie .movie-info .rating-year-genre .genre {
  display: flex;
  column-gap: 10px;
}
.current-movie .movie-info .rating-year-genre .genre p {
  background-color: var(--GRAY-SHADE);
  padding: 0 15px;
  border-radius: 3px;
  font-weight: 700;
}
.current-movie .add-to {
  margin-left: 5%;
  display: flex;
  column-gap: 2rem;
}
.current-movie .add-to button {
  background-color: var(--BLACK-COLOR);
  padding: 5px 10px;
  column-gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--PRIMARY-COLOR);
  border: none;
  border-radius: 7px;
}
.current-movie .add-to svg {
  fill: var(--PRIMARY-COLOR);
  width: 20px;
}
.search-result-container {
  width: 90%;
  background-color: var(--BG-COLOR);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  border: 1px solid var(--BLACK-COLOR);
}
.search-result-container .result-row {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.search-result-container .result-row:hover {
  background-color: var(--PRIMARY-COLOR);
  color: var(--BLACK-COLOR);
}
.search-result-container .result-row .search-img {
  width: 18%;
  aspect-ratio: 233/330;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4px;
}
.search-result-container .result-row .result-info {
  /* display: flex; */
}
.search-result-container .result-row .result-info .rating-duration-genre {
  display: flex;
  column-gap: 10px;
}

/* ------------------------MEDIA QUERY---------------------------------------- */

@media screen and (min-width: 481px) and (max-width: 765px) {
  .header {
    padding: 0 7vw;
  }
  .header .header-menu {
    width: 35px;
  }
  .header img {
    width: 70px;
    height: auto;
  }
  .home-landing .top {
    margin-top: 3rem;
    border-radius: 35px 35px 0 0;
  }
  .home-landing .top button {
    width: 280px;
  }
  .shared-layout aside .svg-search {
    justify-content: center;
    column-gap: 10vw;
  }
  .shared-layout aside .svg-search input {
    padding: 9px 10px;
  }
  .top-movie-card {
    height: 85vw;
    max-height: 530px;
    padding: 0 0 2rem 10vw;
  }
  .top-movie-card .movie-info {
    margin-bottom: 0.7rem;
  }
  .trend-section .trend-card {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
  }
  .top-movie-card .title-rating h1 {
    font-size: clamp(1.2rem, 3.6vw, 1.6rem);
  }
  .top-movie-card .title-rating h2 {
    font-size: 1.2rem;
  }
  .top-movie-card .movie-description {
    font-size: clamp(13px, 2.7vw, 18px);
  }
  .top-movie-card .small-image {
    width: 380px;
    /* width: clamp(350px, 20vw, 130px); */
  }

  .trend-movie > h1 {
    font-size: clamp(2.2rem, 6.4vw, 4rem);
  }
  .trend-card img {
    width: clamp(110px, 20vw, 140px);
  }
  .trend-card .card-info h1 {
    font-size: clamp(14px, 3.4vw, 25px);
  }
  .trend-card .card-info .hd-rating p {
    font-size: 16px;
  }
  .trend-card .card-info button {
    height: 35px;
    padding: 7px;
  }
  .trend-card .card-info button h2 {
    font-size: clamp(10px, 1.9vw, 14px);
  }
  .movie-filter-inner {
    margin-top: 2rem;
    max-width: 500px;
    height: 60px;
  }
  .movie-filter-inner p {
    font-size: 18px;
  }
  .mobile-search {
    width: 120px;
  }
  .mobile-search input {
    width: 90px;
    padding: 5px 0;
  }
  .active-search {
    width: 80%;
    height: 30px;
  }
  .active-search input {
    width: 80%;
    height: 30px;
  }
  .year-btn,
  .genre-btn {
    top: 70px;
  }
  .active-filter .year-btn,
  .active-filter .genre-btn {
    grid-template-columns: repeat(3, 120px);
    gap: 10px 12px;
  }
}

/* ................................................. */

@media screen and (min-width: 579px) {
  .movie-section {
    grid-template-columns: repeat(3, 1fr);
  }
  .main-movie-card .card-info h1 {
    font-size: 22px;
  }
}
/* ---------------------------------------------------------------------- */

@media screen and (min-width: 766px) {
  .header {
    justify-content: space-evenly;
    column-gap: 3.8rem;
    height: 100px;
  }
  .header .header-menu,
  aside,
  .active-aside {
    display: none;
  }

  .header img {
    width: 80px;
    height: auto;
  }
  .header .header-search {
    display: block;
    width: 25vw;
    padding: 7px 10px;
  }
  .header .larger-screen-header {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin-right: 1rem;
  }
  .home-landing .top {
    margin-top: 4rem;
    border-radius: 55px 45px 0 0;
  }
  .home-landing .top button {
    width: 280px;
  }
  .home-landing .top .input-btn input {
    padding: 15px 15px;
    font-size: 1rem;
  }
  .top-movie-card {
    height: 85vw;
    max-height: 530px;
    padding: 0 0 2rem 10vw;
  }
  .trend-movie {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .trend-section {
    grid-template-columns: repeat(3, 1fr);
    width: 765px;
  }
  .top-movie-card .movie-info {
    margin-bottom: 2rem;
  }
  .top-movie-card .small-image {
    width: 150px;
  }
  .top-movie-card .title-rating h1 {
    font-size: 1.8rem;
  }
  .top-movie-card .title-rating h2 {
    font-size: 1.4rem;
  }
  .top-movie-card .movie-description {
    font-size: 18px;
    max-width: 500px;
  }
  .top-movie-card .play-title .play-btn {
    width: 70px;
  }
  .top-movie-card .play-title .rating svg {
    width: 30px;
  }
  .trend-movie > h1 {
    font-size: 2.2rem;
  }

  .trend-card img {
    width: 110px;
  }
  .trend-card .card-info h1 {
    font-size: 14px;
  }
  .trend-card .card-info .hd-rating p {
    font-size: 16px;
  }
  .trend-card .card-info button {
    height: 35px;
    padding: 7px;
  }
  .trend-section .trend-card:last-child {
    display: none;
  }
  .trend-card .card-info button h2 {
    font-size: 10px;
  }
  .movie-filter-inner {
    margin-top: 2rem;
    max-width: 700px;
    height: 60px;
    margin-top: -8rem;
    justify-content: space-evenly;
  }

  .filter-tags {
    column-gap: 1rem;
  }
  .movie-filter-inner p {
    font-size: 20px;
  }
  .mobile-search {
    width: 190px;
  }
  .mobile-search input {
    width: 160px;
    padding: 5px 0;
  }
  .active-search {
    width: 70%;
    height: 40px;
  }
  .active-search input {
    width: 80%;
    height: 40px;
  }
  .year-btn {
    top: 70px;
    left: 50px;
  }
  .genre-btn {
    top: 70px;
    left: 110px;
  }
  .active-filter .year-btn,
  .active-filter .genre-btn {
    grid-template-columns: repeat(3, 120px);
    gap: 10px 12px;
  }

  .year-btn button {
    padding: 12px;
  }
  .active-filter .genre-btn button {
    padding: 15px;
  }
  .year-btn button:hover,
  .genre-btn button:hover {
    transform: scale(1.1);
    border: 5px solid aquamarine;
  }

  .movie-section {
    grid-template-columns: repeat(4, 1fr);
  }
  .current-movie .movie-info .rating-year-genre .rating svg {
    width: 22px;
  }
  .current-movie .movie-info .rating-year-genre .rating p,
  .current-movie .movie-info .rating-year-genre .year {
    font-size: 22px;
  }
  .current-movie .movie-info .rating-year-genre .genre p {
    padding: 2px 15px;
  }
  .current-movie .add-to button {
    padding: 10px;
    font-size: 15px;
    column-gap: 0.5rem;
  }
}

/* ---------------------------------------------------------------------- */

@media screen and (min-width: 1025px) {
  .header img {
    width: 90px;
  }
  .header .header-search {
    display: block;
    width: 30vw;
    padding: 9px 10px;
    border: 2px solid var(--PRIMARY-COLOR);
    border-radius: 25px;
    text-align: left;
  }
  .header .larger-screen-header ul li .link {
    font-size: 1.4rem;
  }
  .home-landing .top {
    margin-top: 6rem;
    border-radius: 55px 55px 0 0;
  }
  .trend-movie {
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .top-movie-card {
    height: 50vw;
    max-height: 600px;
  }

  .top-movie-page {
    flex-direction: row;
    column-gap: 5rem;
  }
  .movie-slider {
    width: 70%;
  }

  .trend-section {
    grid-template-columns: repeat(1, 1fr);
    width: 60%;
  }
  .trend-card {
    justify-content: center;
  }

  .trend-movie > h1 {
    font-size: 1.3rem;
  }
  .trend-card .card-info {
    width: 120px;
  }
  .trend-card .card-info h1 {
    font-size: 1.2rem;
  }
  .trend-card .card-info button {
    margin-right: 30px;
  }
  .hd-rating {
    display: flex;
    column-gap: 10px;
  }
  .trend-card img {
    width: 100px;
  }
  .movie-filter-inner {
    margin-top: 2rem;
  }
  .movie-section {
    grid-template-columns: repeat(5, 1fr);
  }
  .current-movie iframe {
    width: 85%;
  }
  .current-movie .movie-info,
  .current-movie .add-to {
    margin-left: 7.5%;
  }
  .current-movie .movie-info .rating-year-genre .rating svg {
    width: 25px;
  }
  .current-movie .movie-info .rating-year-genre .rating p,
  .current-movie .movie-info .rating-year-genre .year {
    font-size: 25px;
  }
  .current-movie .movie-info .rating-year-genre .genre p {
    padding: 4px 15px;
  }
  .current-movie .add-to button {
    font-size: 18px;
    padding: 12px 10px;
    font-size: 18px;
  }
}

/* ------------------------------------------------------  */

/* @media screen and (min-width: 1025px) and (max-width: 1199px) {
  .trend-movie {
    width: 230px;
  }
} */

/* ---------------------------------------------------------------------- */

@media screen and (min-width: 1200px) {
  .header {
    height: 120px;
  }
  .header .header-search {
    padding: 10px 10px;
    max-width: 360px;
    font-size: 1rem;
  }

  .header .larger-screen-header ul {
    column-gap: 3rem;
  }

  .header .larger-screen-header ul li .link {
    font-size: 1.6rem;
  }
  .home-landing .top {
    margin-top: 8rem;
    border-radius: 65px 65px 0 0;
  }
  .top-movie-page {
    column-gap: 5rem;
  }
  .movie-slider {
    width: 75%;
  }

  .trend-movie > h1 {
    font-size: 1.4rem;
  }

  .trend-card .card-info {
    width: 140px;
  }
  .trend-card .card-info h1 {
    font-size: 1.5rem;
  }
  .trend-card img {
    width: 110px;
  }
  .top-movie-card {
    height: 85vh;
    max-height: 100vh;
  }
  .top-movie-inner {
    margin-bottom: 4rem;
  }
  .top-movie-card .small-image {
    width: 200px;
  }
  .top-movie-card .title-rating {
    margin-bottom: 15px;
  }
  .top-movie-card .title-rating h1 {
    font-size: 3rem;
  }
  .top-movie-card .title-rating h2 {
    font-size: 1.9rem;
  }
  .top-movie-card .movie-description {
    font-size: 18px;
    max-width: 500px;
  }
  .top-movie-card .play-title .play-btn {
    width: 90px;
  }
  .top-movie-card .play-title .rating svg {
    width: 40px;
  }
  .current-movie iframe {
    width: 80%;
  }
  .current-movie .movie-info,
  .current-movie .add-to {
    margin-left: 10%;
  }
}
@media screen and (min-width: 1314px) {
  .trend-section .trend-card:last-child {
    display: flex;
  }
  .movie-section {
    grid-template-columns: repeat(6, 1fr);
  }
  .current-movie iframe {
    width: 75%;
  }
  .current-movie .movie-info,
  .current-movie .add-to {
    margin-left: 12%;
  }
  .current-movie .movie-info .rating-year-genre .rating svg {
    width: 30px;
  }
  .current-movie .movie-info .rating-year-genre .rating p,
  .current-movie .movie-info .rating-year-genre .year {
    font-size: 30px;
  }
  .current-movie .movie-info .rating-year-genre .genre p {
    padding: 8px 15px;
  }
  .current-movie button p {
    font-size: 20px;
  }
  .home-landing .top .input-btn input {
    padding: 15px 15px;
  }
}
@media screen and (min-width: 1750px) {
  .movie-section {
    grid-template-columns: repeat(7, 1fr);
  }
  .current-movie iframe {
    width: 70%;
  }
  .current-movie .movie-info,
  .current-movie .add-to {
    margin-left: 15%;
  }
  .current-movie .movie-info .rating-year-genre .rating svg {
    width: 28px;
  }
  .current-movie .movie-info .rating-year-genre .rating p,
  .current-movie .movie-info .rating-year-genre .year {
    font-size: 28px;
  }
  .current-movie .movie-info .rating-year-genre .genre p {
    padding: 8px 15px;
  }
}
